.form {
  max-width: 385px;
  width: 100%;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.form__label {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto 8px;
}

.form__input {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 30px;
  padding: 15px;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-bottom: 32px;
  box-sizing: border-box;
  width: 100%;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  background-color: #2f80ed;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 4px;
  padding: 15px;
  height: 60px;
  cursor: pointer;
  margin-top: 32px;
  transition: opacity 0.3s ease;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 32px;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.form__label_type_checkbox {
  margin-bottom: 0;
}
