.header {
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
}

.header__title {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 54px;
  line-height: 62px;
  margin: 183px 0 28px 80px;
  max-width: 709px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__span-accent {
  font-style: italic;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__title-location {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-top: 28px;
  margin-left: 80px;
}

.header__footer {
  position: absolute;
  bottom: 40px;
  left: 80px;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__footer > .header__paragraph:last-child {
  margin-right: 80px;
  text-align: right;
}

.header__paragraph {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}
