.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 183px;
}

.nav__logo {
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-top: 30px;
  margin-right: 80px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}
