.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 80px;
  color: #ffffff;
}

.recipes__title {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 44px;
  margin-bottom: 24px;
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 80px;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__video-item {
  width: 480px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  width: 100%;
  height: 270px;
  border: none;
  margin-bottom: 20px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
}
